<div class="Main-table">
    <div class="table">
        <label><b>UserId :-</b>&nbsp;{{dataObj?.userId}}</label><br>
        <label><b>Id :-</b>&nbsp; {{dataObj?.id}}</label><br>
        <label><b>Title :-</b>&nbsp; {{dataObj?.title}}</label><br>
        <label><b>Body :-</b>&nbsp; {{dataObj?.body}}</label>
        <!-- <tr>
            <th>UserId</th>
            <th>Id</th>
            <th>Title</th>
            <th>Body</th>
        </tr>
        <tr>
            <td>{{item.userId}}</td>
            <td>{{item.id}}</td>
            <td>{{item.title}}</td>
            <td>{{item.body}}</td>
        </tr> -->
    </div>
</div>