.table{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 20px;
}

label{
    margin-bottom: 5px;
}

label b {
    font-size: 16px;
    letter-spacing: 0.6px;
    font-weight: 600;
}

.Main-table{
    padding: 40px;
}